<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Totally legit site with authentication and stuff</title>
	<link href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<div class="topnav">
  <a class="active" href="home.html">Home</a>
  <a th:href="@{hello}">Sign in</a>
  <a th:href="@{pasta}">Pasta</a>
  <a th:href="@{viwus}">Viwus</a>
  <div class="dropdown">
    <button class="dropbtn">Even more
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a th:href="@{nikodem}">Nikodem</a>
      <a href="#">empty dummy link</a>
      <a href="#">same here</a>
    </div>
	</div>
</div>
<div class="header" id="myHeader">
  <h2>Greetings!</h2>
</div>
<p>Click <a th:href="@{/hello}">here</a> to say hi.</p>
<p>Or <a th:href="@{/signup}">introduce yourself</a></p>
<div class="footer">
  <p>I am a footer lmao</p>
</div>
</body>
</html>