<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login page </title>
    <link href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet" />

</head>
<body>
<div class="topnav">
    <a th:href="@{home}">Home</a>
    <a class="active" th:href="@{hello}">Sign in</a>
    <a th:href="@{pasta}">Pasta</a>
    <a th:href="@{viwus}">Viwus</a>
    <div class="dropdown">
        <button class="dropbtn">Even more
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:href="@{nikodem}">Nikodem</a>
            <a href="#">just click</a>
            <a href="#">on the dog</a>
        </div>
    </div>
</div>
<div class="container">
<div th:if="${param.error}" >
	<br>
    Invalid username and password.
	<br>
</div>
<div th:if="${param.logout}">
	<br>
    You have been logged out.
	<br>
</div>
<form th:action="@{/login}" method="post">
	<br>
    <div> <input type="text" name="username" placeholder="Username"/> </label></div>
    <div><input type="password" name="password" placeholder="Password"/> </label></div>
    <div class="btn" th:action="@{/hello}"><input type="submit" value="Sign In"/></div>
</form>
</div>
<div class="footer">
  <p>I am a footer lmao</p>
</div>
</body>
</html>